h1 {
  font-size: 28px;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  font-size: 18px;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}
h1:hover {
  border: 1px solid red;
}
h1:hover {
  border: 1px solid green;
}
h2:hover {
  border: 1px solid #000;
}
h1:hover {
  border: 1px solid red;
}
h2:hover {
  border: 1px solid yellow;
}
